@using DigitalEducationServicec.Application.Features.AcademicSystems.Queries.Results;
@model List<GetAcademicSystemsListResponse>

@{
    int i = 0;
    ViewData["Title"] = "   الانظمة الدرسية   ";
    ViewData["Icon"] = "  bi bi-cash-coin  ";
}
@section Sidebar{

    @Html.Partial("~/Views/Pages/Sidebar/Sidebar.cshtml")

}

<div class="row">



    <div class="col-xl-12 mb-30">
        <div class="card card-statistics h-100">
            <div class="card-body">


                <button type="button" class="button x-small" data-toggle="modal" data-target="#exampleModal">
                    اظافة نظام دراسي
                </button>
                <br><br>

                <div class="table-responsive">
                    <table id="datatable" class="table  table-hover table-sm table-bordered p-0" data-page-length="50"
                           style="text-align: center">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>   الاسم  </th>

                                <th> ملاحضات</th>

                                <th>العلميات</th>


                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {

                                i++;
                                <tr>

                                    <td>@i</td>

                                    <td>
                                        @item.SystemName
                                    </td>
                                    <td> @item.Note </td>

                                    <td>
                                        <button type="button" class="btn btn-info btn-sm" data-id="@item.SystemId" data-name="@item.SystemName"
                                                data-discount="@item.Note" data-toggle="modal"
                                                href="#exampleModal2" title="تعديل">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                                href="#modaldemo9" data-id="@item.SystemId" data-name="@item.SystemName"
                                                title="حذف">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>

                                </tr>
                            }



                            <!-- delete_modal_Grade -->
                            <div class="modal fade" id="modaldemo9" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 style="font-family: 'Cairo', sans-serif;" class="modal-title"
                                                id="exampleModalLabel">
                                                حذف
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form asp-controller="AcademicSystems" asp-action="Delete" method="get">
                                                هل انت متاكد من عملية الحذف ؟
                                                <input id="id" name="SystemId" class="form-control" hidden required
                                                       value="">
                                                <input class="form-control" name="name" id="name" type="text" readonly>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">
                                                        اغلاق
                                                    </button>
                                                    <button type="submit" class="btn btn-danger">ارسال</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                    </table>
                </div>
            </div>
        </div>

    </div>




    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="font-family: 'Cairo', sans-serif;" class="modal-title" id="exampleModalLabel">
                       اظافة نظام دراسي
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- add_form -->
                    <form asp-controller="AcademicSystems" asp-action="Create" method="post">
                        <div class="row">
                            <div class="col">
                                <label for="Name" class="mr-sm-2">   اسم النظام الدرسي   :</label>
                                <input id="Name" type="text" name="SystemName" required placeholder="اكتب النظام  هنا " class="form-control">
                            </div>


                        </div>


                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">
                                ملاحظات
                                :
                            </label>
                            <textarea placeholder=" سجل ملاحضاتك هنا" class="form-control" name="Note" id="exampleFormControlTextarea1"
                                      rows="3"></textarea>
                        </div>
                        <br><br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                            <button type="submit" class="btn btn-success">ارسال</button>
                        </div>
                    </form>


                </div>


            </div>
        </div>
    </div>





    <!-- edit -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="font-family: 'Cairo', sans-serif;" class="modal-title"
                        id="exampleModalLabel">
                        تعديل النظام
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-controller="AcademicSystems" asp-action="Edit" method="post">
                        <div class="row">
                            <div class="col">
                                <input id="id" name="SystemId" class="form-control" hidden required>

                                <label for="Name" class="mr-sm-2">   اسم النظام الدرسي   :</label>
                                <input id="name" type="text" name="SystemName" required placeholder="اكتب النظام  هنا " class="form-control">
                            </div>


                        </div>


                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">
                                ملاحظات
                                :
                            </label>
                            <textarea id="discount" placeholder=" سجل ملاحضاتك هنا" class="form-control" name="Note" id="exampleFormControlTextarea1"
                                      rows="3"></textarea>
                        </div>
                        <br><br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                            <button type="submit" class="btn btn-success">ارسال</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>






</div>


@section scripts{
    <script>


        $('#exampleModal2').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('id')
            var name = button.data('name')
            var discount = button.data('discount')

            var modal = $(this)
            modal.find('.modal-body #id').val(id);
            modal.find('.modal-body #name').val(name);
            modal.find('.modal-body #discount').val(discount);

        })
    </script>
    <script>
        $('#modaldemo9').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('id')
            var name = button.data('name')
            var modal = $(this)
            modal.find('.modal-body #id').val(id);
            modal.find('.modal-body #name').val(name);
        })
    </script>
}