@using DigitalEducationServicec.Application.Features.TypesTuitionFees.Queries.Results;
@model List<GetTypesTuitionFeesListResponse>
@{
    int i = 0;
    ViewData["Title"] = "      دليل فئات الرسوم    ";
    ViewData["Icon"] = "  bi bi-cash-coin ";

}
@section style{

    <link href="~/assets/css/cssitem/switch.css" rel="stylesheet">
}
@section Sidebar{

    @Html.Partial("~/Views/Pages/Sidebar/Sidebar.cshtml")

}

<div class="row">



    <div class="col-xl-12 mb-30">
        <div class="card card-statistics h-100">
            <div class="card-body">


                <button type="button" class="button x-small" data-toggle="modal" data-target="#exampleModal">
                    اظافة فئة رسوم
                </button>
                <br><br>

                <div class="table-responsive">
                    <table id="datatable" class="table  table-hover table-sm table-bordered p-0" data-page-length="50"
                           style="text-align: center">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>اسم فئة الرسوم  </th>
                                <th>متضمن في الاقساط</th>
                                <th> ملاحضات</th>

                                <th>العلميات</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                i++;
                                <tr>

                                    <td>@i</td>
                                    <td>  @item.TypesTuitionFeesName    </td>
                                    
                                    <td>
                                        @if (item.Installments == false)
                                        {
                                            <label class="badge badge-danger">غير متضمن </label>
                                        }else
                                        {
                                            <label class="badge badge-success"> متضمن</label>

                                        }

                                    </td>

                                    <td> @item.Notes</td>
                                    <td>

                                        <button type="button" class="btn btn-info btn-sm" data-id="@item.TypesTuitionFeesId" data-name="@item.TypesTuitionFeesName"
                                                data-val1="@item.Installments" data-toggle="modal" data-val2="@item.Notes"
                                                href="#exampleModal2" title="تعديل">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                                href="#modaldemo9" data-id="@item.TypesTuitionFeesId" data-name="@item.TypesTuitionFeesName"
                                                title="حذف">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>

                        <!-- delete_modal_Grade -->
                        <div class="modal fade" id="modaldemo9" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 style="font-family: 'Cairo', sans-serif;" class="modal-title"
                                            id="exampleModalLabel">
                                            حذف
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form asp-controller="TypesTuitionFees" asp-action="Delete" method="get">
                                            هل انت متاكد من عملية الحذف ؟
                                            <input id="id" name="TypesTuitionFeesId" class="form-control" hidden required
                                                   value="">
                                            <input class="form-control" name="name" id="name" type="text" readonly>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">
                                                    اغلاق
                                                </button>
                                                <button type="submit" class="btn btn-danger">ارسال</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </table>
                </div>
            </div>
        </div>

    </div>




    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="font-family: 'Cairo', sans-serif;" class="modal-title" id="exampleModalLabel">
                        اظافة  فئة رسوم
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- add_form -->
                    <form asp-controller="TypesTuitionFees" asp-action="Create" method="post">
                        <div class="row">
                            <div class="col">
                                <label for="Name" class="mr-sm-2">    اسم فئة الرسوم    :</label>
                                <input id="name" type="text" name="TypesTuitionFeesName" class="form-control">
                            </div>
                        </div>

                        <br />
                        <!-- Rounded switch -->

                        <label for="Name" class="mr-sm-2">    متضمن في الاقساط      </label>
                        <label lass="form-control" class="switch">
                            <input type="checkbox" value='true' name='check'>
                            <span class="slider round"></span>
                        </label>
                        <br />



                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">
                                ملاحظات
                                :
                            </label>
                            <textarea placeholder=" سجل ملاحضاتك هنا" class="form-control" name="Notes" id="exampleFormControlTextarea1"
                                      rows="4"></textarea>
                        </div>
                        <br><br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                            <button type="submit" class="btn btn-success">ارسال</button>
                        </div>
                    </form>


                </div>


            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="font-family: 'Cairo', sans-serif;" class="modal-title" id="exampleModalLabel">
                        تعديل  فئة رسوم
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- add_form -->
                    <form asp-controller="TypesTuitionFees" asp-action="Edit" method="post">
                        <div class="row">
                            <div class="col">
                                <input id="id" name="TypesTuitionFeesId" class="form-control" hidden required />

                                <label for="Name" class="mr-sm-2">    اسم فئة الرسوم    :</label>
                                <input id="name" type="text" name="TypesTuitionFeesName" class="form-control">
                            </div>
                        </div>

                        <br />
                        <!-- Rounded switch -->

                        <label for="Name"  class="mr-sm-2">    متضمن في الاقساط      </label>
                        <label lass="form-control" class="switch" id='switch'>
                     
                           
                        </label>
                        <br />



                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">
                                ملاحظات
                                :
                            </label>
                            <textarea placeholder=" سجل ملاحضاتك هنا" class="form-control" name="Notes" id="val2"
                                      rows="4"></textarea>
                        </div>
                        <br><br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                            <button type="submit" class="btn btn-success">ارسال</button>
                        </div>
                    </form>


                </div>


            </div>
        </div>
    </div>


</div>


@section scripts {


    <script>
        $('#exampleModal2').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('id')
            var name = button.data('name')
            var val1 = button.data('val1')
            var val2 = button.data('val2')

            var modal = $(this)
            modal.find('.modal-body #id').val(id);
            modal.find('.modal-body #name').val(name);

            modal.find('.modal-body #val2').val(val2);

            var el_down = document.getElementById("switch");
            console.log(val1);
            if (val1 == 'True'){


                el_down.innerHTML = "<input type='checkbox' value='true' name='check' checked> <span class='slider round'></span>";
            }else{
                el_down.innerHTML = "<input  type='checkbox' value='true' name='check'><span class='slider round'></span>";



            }
   


        })
    </script>
    <script>
        $('#modaldemo9').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('id')
            var name = button.data('name')
            var modal = $(this)
            modal.find('.modal-body #id').val(id);
            modal.find('.modal-body #name').val(name);
        })
    </script>
}